# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Backup files
*~

# Ignored directories
objects/
bin/Windows/32-bit/Debug
bin/Windows/64-bit/Debug
bin/Linux
QLBwin/build
QLBwin/moc

# Executables
*.out
*.app
*.pdb
